.p1{
    font-family: 'Montserrat-ExtraBold';
}
.p2{
    font-family: 'Montserrat-Bold';
}
.p3{
    font-family: 'Montserrat-SemiBold';
}
.p4{
    font-family: 'Montserrat-ExtraLight';
}
.p5{
    font-family: 'Montserrat-Light';
}

.p6{
    font-family: 'Montserrat-Medium';
}

.p7{
    font-family: 'Montserrat-Regular';
}