<div class="w-full h-full flex flex-col gap-y-7 justify-center items-center">
    <div>
      <img class="w-[160px]" src="/assets/images/lock.svg" alt="" srcset="" />
    </div>
  
    <div>
      <h1 class="font-monsterratBold text-primary-dark uppercase">
        Reset password
      </h1>
    </div>
  <div>
    <p class="text-gray-500 w-[400px]">
        Just enter the email address you registered with and we'll send you a link to reset your password.

    </p>
  </div>
    <div class="w-[400px] flex flex-col">
      <input id="email" placeholder="Enter your email address" pInputText />
    </div>
  
 
  
    <div class="flex flex-col w-[400px]">
      <button
        pButton
        class="w-full flex"
        label="Send reset password link"
      ></button>
    </div>
  
    <div class="flex justify-start w-[400px]">
      <span class="text-sm">
        <span class="text-gray-500">Need help? Read this </span>
        <a class="text-primary hover:text-primary-dark cursor-pointer"
          >Help Centre article.</a
        >
      </span>
    </div>
  </div>
  